<mat-card class="shadow-none bg-light-accent overflow-hidden">
  <mat-card-content class="p-48 p-b-0">
    <div class="row justify-content-between">
      <div class="col-sm-6">
        <h2 class="m-b-0 f-s-23 m-t-4 m-b-4 f-w-700">
          <span class="f-w-400">Welcome,</span> {{ username }}
        </h2>
        <mat-card-subtitle class="mat-body-1 text-dark m-t-16 lh-24 m-b-24"
          >We're excited to have you on board! <br>By adding metrics and setting
          goals, you can help build a more sustainable future and achieve your
          company's objectives.<br>
          <span style="color: green;">Let's get started!</span></mat-card-subtitle
        >
      </div>
      <div class="col-sm-5 text-right">
        <img
          src="assets/images/backgrounds/profile-stats.png"
          alt="welcome"
          width="150"
          class="welcome-img"
        />
      </div>
    </div>
  </mat-card-content>
</mat-card>
